Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  performance-*,
  portability-*,

  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-init-variables

WarningsAsErrors: '*'