Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  performance-*,
  portability-*,

  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-init-variables,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -misc-no-recursion

WarningsAsErrors: >
  '*'