BasedOnStyle: llvm
ColumnLimit: 150
UseTab: Never
IndentWidth: 4
TabWidth: 4
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
RemoveBracesLLVM: true
SpacesInParens: Never
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros : false
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros : false
  BeforeNonEmptyParentheses : false